*~
.DS_Store
.svn
.cvs
*.bak
*.log
*.swp
Thumbs.db

# Exclude dependencies

/content/*
/content/cache/
/content/plugins/*
/content/themes/*
/content/uploads/
vendor/*
/wp/*
/index.php
/wp-config.php

# Allowed files

!/content/index.php
!/content/mu-plugins/autoload.php
!/content/mu-plugins/index.php
!/content/mu-plugins/muddle.php
!/content/plugins/index.php
!/content/themes/index.php
